.text-atoms{
  color: #383E86;
}

.text-atoms:hover{
  cursor: text;
}

.text-atoms-extra-small {
  font-size: 13px;
  line-height: 13.5px;
}

.text-atoms-small {
  font-size: 16px;
  line-height: 17px;
}

.text-atoms-normal {
  font-size: 20px;
  line-height: 22px;
}

.text-atoms-medium {
  font-size: 24px;
  line-height: 26px;
}

.text-atoms-large {
  font-size: 30px;
  line-height: 32px;
}

.text-atoms-extra-large {
  font-size: 58px;
  line-height: 60px;
}
