.text-atoms{
  color: #383E86;
  white-space: pre-wrap;
}

.text-atoms:hover{
  cursor: text;
}

.text-atoms-extra-small {
  --font-size: 13px;
  --line-height: 1.1;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.text-atoms-small {
  --font-size: 16px;
  --line-height: 1.1;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.text-atoms-normal {
  --font-size: 20px;
  --line-height: 1.2;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.text-atoms-medium {
  --font-size: 24px;
  --line-height: 1.2;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.text-atoms-large {
  --font-size: 30px;
  --line-height: 1.2;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.text-atoms-extra-large {
  --font-size: 58px;
  --line-height: 1.2;
  font-size: var(--font-size);
  line-height: var(--line-height);
}
