.button-atoms {
  background-color: white;
  color: grey;
  border: 1px solid lightgrey;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease;
}

.button-atoms:disabled {
  background-color: lightgrey;
  color: grey;
  border-color: lightgrey;
  font-weight: normal;
  opacity: 0.9;
}

.button-atoms.extra-small {
  padding: 5px 10px;
  font-size: 11px;
}

.button-atoms.small {
  padding: 6px 10px;
  font-size: 14px;
}

.button-atoms.normal {
  padding: 7px 16px;
  font-size: 16px;
}

.button-atoms.medium {
  padding: 8px 20px;
  font-size: 18px;
}

.button-atoms.large {
  padding: 12px 30px;
  font-size: 24px;
}

.button-atoms.extra-large {
  padding: 15px 40px;
  font-size: 30px;
}


