.img-logo-ions-small {
  height: 40px;
  object-fit: cover;  
  box-sizing: border-box;  
}
.img-logo-ions-small.clickable {
  cursor: pointer;
}

.img-logo-ions-medium {
  height: 55px;
  object-fit: cover;  
  box-sizing: border-box;  
}
.img-logo-ions-medium.clickable {
  cursor: pointer;
}

.img-logo-ions-large {
  height: 65px;
  object-fit: cover;  
  box-sizing: border-box;  
}
.img-logo-ions-large.clickable {
  cursor: pointer;
}