.img-logo-ions {
  object-fit: cover;  
}

.img-logo-ions.clickable {
  cursor: pointer;
}

.img-logo-ions.small {
  height: 32px;
  box-sizing: border-box;  
}
.img-logo-ions.medium {
  height: 55px;
  box-sizing: border-box;  
}
.img-logo-ions.large {
  height: 65px;
  box-sizing: border-box;  
}