.post-button-ions {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.post-button-text {
  font-weight: bold;
  color: white;
}

.post-button-text.small {
  font-size: 10px;
}

.post-button-text.medium {
  font-size: 12px;
}

.post-button-text.large {
  font-size: 16px;
}
